* {
  box-sizing: border-box;
  background-color: #6B7F7B;
  margin: 0;
  padding: 0;
}



.titleBox {
  font-size: 64px;
  font-weight: 100;
  font-family: 'Times New Roman', Times, serif;
  color: #F7F7F5;
  height: 100px;

}

.nameBox, .mailBox {
  border: 3px solid snow;

}

.labelBox {
  font-size: 18px;
  font-family: 'Times New Roman', Times, serif;
  color: #021b16;
  border: 3px solid snow;
}

.submitBox {
  border: 3px solid black;
  background-color: #FBFBF4;
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  width: 100px;
  
  color: #A32E0A;
}